.menu {
	list-style-type: none;
	background-color: black;
}

.menu li {
	display: inline-block;
	padding: 20px;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.menu li:hover {
	background-color: orange;
}
